body {
  font: 20px Arial, sans-serif;
}
.navbar {
  background-color: #e84393;
}
.quem-somos {
  background-color: #a29bfe;
  color: black;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: #81ecec;
  color: black;
}

.servicos {
  background-color: #ffeaa7;
  color: black;
}

.bg-footer {
  background-color: #fab1a0;
  color: black;
}
